body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333E48;
  text-align: center;
}
h1 {
  color: #01BF6E;
}
table {
    margin: auto;
}
.surveyTitle {
  text-align: left;
}
.surveyResponses {
  text-align: right;
}
th {
      padding-bottom: 20px;
}
td:hover {
  color: #000000;
  cursor: pointer;
}
#responseTable {
  height: 100px;
}
